
/** $VER: Preferences.rc (2026.07.09) P. Stuer **/

#include "Resources.h"

#include <winres.h>

#include "Preferences.h"
#include "IconList.h"

language LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDD_PREFERENCES dialogex 0, 0, 0, 0
style DS_SHELLFONT | WS_CHILD
font 8, "MS Shell Dlg", 400, 0, 1
{
    rtext       "Text Format:"  IDC_STATIC,             X_A11, Y_A11 + 2, W_A11, H_A11
    edittext                    IDC_TEXT_FORMAT,        X_A12, Y_A12,     W_A12, H_A12, ES_AUTOHSCROLL | WS_TABSTOP

    rtext       "Image:",       IDC_STATIC,             X_A13, Y_A13 + 2, W_A13, H_A13
    combobox                    IDC_IMAGE,              X_A14, Y_A14,     W_A14, H_A14, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    rtext       "File Path:",   IDC_STATIC,             X_A15, Y_A15 + 2, W_A15, H_A15
    edittext                    IDC_FILE_PATH,          X_A16, Y_A16,     W_A16, H_A16, ES_AUTOHSCROLL | WS_TABSTOP

    control     "",             IDC_ICONLIST,           WC_ICON_LIST, WS_CHILD | WS_VISIBLE | WS_TABSTOP, X_A17, Y_A17, W_A17, H_A17
}
